<section>
  <h1>Lista de Alumnos</h1>


  @if (isLoading) {
    <mat-spinner class="spinner"></mat-spinner>
  } @else {
    <div class="controls">
      <button mat-raised-button class="demo-button" (click)="openDialog(null)">
        Agregar Alumno
      </button>
      <mat-slide-toggle
        [checked]="showInactive"
        disabled="true"
        labelPosition="before"
        (change)="toggleInactive($event)">
        <span>Ver usuarios inactivos </span></mat-slide-toggle>
    </div>

    <!-- Filtro de busqueda. -->
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <!-- Tabla de Alumnos. -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Columna de Apellido. -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Apellido</th>
          <td mat-cell *matCellDef="let row"> {{ row.lastName }}</td>
        </ng-container>

        <!-- Columna de Nombre. -->

        <ng-container matColumnDef="nombre">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre</th>
          <td mat-cell *matCellDef="let row"> {{ row.firstName }}</td>
        </ng-container>

        <!-- Columna de Email. -->

        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Email</th>
          <td mat-cell *matCellDef="let row"> {{ row.email }}</td>
        </ng-container>

        <!-- Columna de Accion. -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones</th>
          <td mat-cell *matCellDef="let row">
            <div class="actions">
              <button mat-icon-button class="view-icon" aria-label="View button" [routerLink]="[row.id]">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button class="edit-icon" aria-label="Edit button" (click)="openDialog(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="delete-icon" aria-label="Delete button" (click)="openConfirmationDialog(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!---->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Fila de datos vacía. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{ input.value }}"</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[ 10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of users">

      </mat-paginator>
    </div>
  }


</section>


