table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.demo-button {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  color: #c91212;
}

.edit-icon {
  color: #ffc400;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
