<section class="course-info-container"> 
   @if (isLoading) {
      <div class="loading-spinner">
         <mat-spinner diameter="50"></mat-spinner>
      </div>
   } @else {
      <mat-card class="course-card">
         <mat-card-header>
            @if (course.imageURL) {
               <img
                  ngSrc="{{ course.imageURL }}"
                  alt="Curso {{ course.name }}"
                  width="100"
                  height="100">
            } @else {
               <div mat-card-avatar class="course-avatar">
                  {{ course.name.charAt(0) }}{{ course.name.charAt(1) }}
               </div>
            }
            <div>
               <mat-card-title>{{ course.name }}</mat-card-title>
               <mat-card-subtitle>
                  <mat-chip-listbox> 
                     <!-- No andan los colores. -->
                     <mat-chip [ngClass]="course.isActive ? 'green-chip' : 'red-chip'">
                        {{ course.isActive ? 'Activo' : 'Inactivo' }}
                     </mat-chip>
                  </mat-chip-listbox>
               </mat-card-subtitle>
            </div>
         </mat-card-header>
         <mat-card-content>
            
            <div class="course-info">
               <div class="info-item">
                  <mat-list>
                     <mat-list-item>
                        <mat-icon matListItemIcon>person</mat-icon>
                        <span matListItemTitle>Nombre</span>
                        <span matListItemLine>{{ course.name }}</span>
                     </mat-list-item>
                     <mat-list-item>
                        <mat-icon matListItemIcon>description</mat-icon>
                        <span matListItemTitle>Descripcion</span>
                        <span matListItemLine>{{ course.description }}</span>
                     </mat-list-item>
                     <mat-list-item>
                        <mat-icon matListItemIcon>schedule</mat-icon>
                        <span matListItemTitle>Duración</span>
                        <span matListItemLine>{{ course.hours }}</span>
                     </mat-list-item>  
                  </mat-list>
               </div>
               <div class="info-item">
                  <mat-list>    
                     <mat-list-item>
                        <mat-icon matListItemIcon>library_books</mat-icon>
                        <span matListItemTitle>Cantidad de Clases</span>
                        <span matListItemLine>{{ course.classes }}</span>
                     </mat-list-item>
                     <mat-list-item>
                        <mat-icon matListItemIcon>person</mat-icon>
                        <span matListItemTitle>Profesor</span>
                        <span matListItemLine>{{ course.teacher }}</span>
                     </mat-list-item>
                     </mat-list>
               </div>
            </div>
            <mat-divider></mat-divider>
            <h3>Alumnos Inscritos</h3>

            <!-- <mat-list *ngIf="students.length > 0">
               <mat-list-item *ngFor="let student of students">
                  <mat-icon>person</mat-icon>
                  <span matListItemTitle>{{ student.name }}</span>
                  <span matListItemLine>{{ student.email }}</span>
                  <button mat-icon-button color="warn" (click)="unenrollStudent(student.enrollmentId)">
                     <mat-icon>delete</mat-icon>
                  </button>
               </mat-list-item>
            </mat-list>

            <p *ngIf="students.length === 0">No hay alumnos inscritos en este curso.</p> -->
            
            <!-- Tabla de Alumnos Inscritos -->
            <div class="mat-elevation-z8">
               <table mat-table [dataSource]="students" matSort>
                  <!-- Columna de Apellido -->
                  <ng-container matColumnDef="lastName">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef> Apellido </th>
                     <td mat-cell *matCellDef="let student"> {{ student.lastName }} </td>
                  </ng-container>

                  <!-- Columna de Nombre -->
                  <ng-container matColumnDef="firstName">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre </th>
                     <td mat-cell *matCellDef="let student"> {{ student.firstName }} </td>
                  </ng-container>

                  <!-- Columna de Email -->
                  <ng-container matColumnDef="email">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
                     <td mat-cell *matCellDef="let student"> {{ student.email }} </td>
                  </ng-container>

                  <!-- Columna de Acciones -->
                  <ng-container matColumnDef="actions">
                     <th mat-header-cell *matHeaderCellDef> Acciones </th>
                     <td mat-cell *matCellDef="let student">
                        <div class="actions">
                           <button mat-icon-button color="warn" (click)="unenrollStudent(student.enrollmentId)">
                              <mat-icon>delete</mat-icon>
                           </button>
                        </div>
                     </td>
                  </ng-container>

                  <!-- Filas de la Tabla -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               </table>
            </div>

            <!-- Mensaje si no hay alumnos inscritos -->
            <p *ngIf="students.length === 0">No hay alumnos inscritos en este curso.</p>
         </mat-card-content>
         <mat-card-actions>
            <button mat-raised-button color="primary" (click)="goBack()">
               <mat-icon>arrow_back</mat-icon>
               Volver al listado
            </button>
            <button mat-raised-button color="primary" (click)="goToStudents()">
               <mat-icon>arrow_forward</mat-icon>
               Ver Lista de Alumnos
            </button>
         </mat-card-actions>
      </mat-card>
   } 
 </section>





<!-- 
<section class="course-info-container">
   <div *ngIf="isLoading" class="loading-spinner">
     <mat-spinner diameter="50"></mat-spinner>
   </div>
 
   <mat-card class="course-card" *ngIf="!isLoading">
     <mat-card-header>
       <img *ngIf="course.imageURL" [src]="course.imageURL" alt="Curso {{ course.name }}" width="100" height="100">
       <div *ngIf="!course.imageURL" mat-card-avatar class="course-avatar">
         {{ course.name.charAt(0) }}{{ course.name.charAt(1) }}
       </div>
       <div>
         <mat-card-title>{{ course.name }}</mat-card-title>
         <mat-card-subtitle>
           <mat-chip-listbox>
             <mat-chip [ngClass]="course.isActive ? 'green-chip' : 'red-chip'">
               {{ course.isActive ? 'Activo' : 'Inactivo' }}
             </mat-chip>
           </mat-chip-listbox>
         </mat-card-subtitle>
       </div>
     </mat-card-header>
 
     <mat-card-content>
       <mat-list>
         <mat-list-item>
           <mat-icon>description</mat-icon>
           <span matListItemTitle>Descripción</span>
           <span matListItemLine>{{ course.description }}</span>
         </mat-list-item>
         <mat-list-item>
           <mat-icon>schedule</mat-icon>
           <span matListItemTitle>Duración</span>
           <span matListItemLine>{{ course.hours }} horas</span>
         </mat-list-item>
         <mat-list-item>
           <mat-icon>library_books</mat-icon>
           <span matListItemTitle>Cantidad de Clases</span>
           <span matListItemLine>{{ course.classes }}</span>
         </mat-list-item>
         <mat-list-item>
           <mat-icon>person</mat-icon>
           <span matListItemTitle>Profesor</span>
           <span matListItemLine>{{ course.teacher }}</span>
         </mat-list-item>
       </mat-list>
 
       <h3>Alumnos Inscritos</h3>
       <mat-list *ngIf="students.length > 0">
         <mat-list-item *ngFor="let student of students">
           <mat-icon>person</mat-icon>
           <span matListItemTitle>{{ student.name }}</span>
           <span matListItemLine>{{ student.email }}</span>
           <button mat-icon-button color="warn" (click)="unenrollStudent(student.enrollmentId)">
             <mat-icon>delete</mat-icon>
           </button>
         </mat-list-item>
       </mat-list>
       <p *ngIf="students.length === 0">No hay alumnos inscritos en este curso.</p>
     </mat-card-content>
 
     <mat-card-actions>
       <button mat-raised-button color="primary" (click)="goBack()">
         <mat-icon>arrow_back</mat-icon> Volver
       </button>
     </mat-card-actions>
   </mat-card>
 </section>
  -->